@if (responsive.isMobile()) {
    <nav class="dark-background">
        <div>
            <h2 class="logo">Bits&Bites</h2>
        </div>
        <div></div>
        <div>
            <button (click)="toggleMenu()" class="hamburger-menu" type="button" aria-label="Open menu">
                <mat-icon>{{ isMenuOpen() ? 'close' : 'menu' }}</mat-icon>
            </button>
        </div>
        @if (isMenuOpen()) {
            <div class="mobile-menu">
                <ul class="navbar-links-mobile">
                    <li><button type="button" (click)="scrollToSection('home')">Home</button></li>
                    <li><button type="button" (click)="scrollToSection('recipe')">Recipe</button></li>
                    <li><button type="button" (click)="scrollToSection('ingredients')">Ingredients</button></li>
                    <li><button type="button" (click)="scrollToSection('preparation')">Preparation</button></li>
                    <li><button type="button" (click)="scrollToSection('community')">Community</button></li>
                    <li><button type="button" (click)="scrollToSection('contact')">Contact</button></li>
                    <li><button type="button" (click)="scrollToSection('community')">Join Us</button></li>
                </ul>
            </div>
        }
    </nav>
} @else {
    <nav class="dark-background">
        <div>
            <button class="logo-button" type="button" (click)="scrollToSection('home')">
                <h1 class="logo">Bits&Bites</h1>
            </button>
        </div>
        <div>
            <ul class="navbar-links-desktop">
                <li><button type="button" (click)="scrollToSection('home')">Home</button></li>
                <li><button type="button" (click)="scrollToSection('recipe')">Recipe</button></li>
                <li><button type="button" (click)="scrollToSection('preparation')">Preparation</button></li>
                <li><button type="button" (click)="scrollToSection('community')">Community</button></li>
                <li><button type="button" (click)="scrollToSection('contact')">Contact</button></li>
            </ul>
        </div>
        <div>
            <button class="join-us" type="button" (click)="scrollToSection('community')">
                Join Us
            </button>
        </div>
    </nav>
}
