@if (responsive.isMobile()) {
    <div>
        <div class="description-container-movile">
            <img class="product-image" src="assets/rompopepejibayeplanta.png" alt="">
            <p class="section-subtitle subtitle">Learn about the product</p>
            <hr class="hr-subtitulo">
            <h1 class="titles">Crema de Pejibaye</h1>
            <p class="section-text">Pejibaye cream is a sweet, creamy alcoholic beverage made from pejibaye, a traditional Costa Rican fruit that is very common in the Turrialba area. Its flavor is smooth, slightly sweet, and with a thick texture, making it an ideal choice as a digestif or a special drink for celebrations. It is a preparation that blends the traditional with the artisanal, highlighting the native flavors of the region.</p>
            <h1 class="titles">History</h1>
            <p class="section-text">Pejibaye cream is a sweet, creamy alcoholic drink from Costa Rica, made from pejibaye, a pre-Columbian staple fruit from Turrialba. It's a modern twist on tradition: smooth, slightly sweet, thick, and perfect as a digestif or for celebrations. Ancestral flavor, contemporary spirit.</p>
        </div>
    </div>
} @else {
    <div class="description-wrapper">
        <img class="leaf-decoration" src="assets/tripleLeaf.png" alt="">
        <div class="description-container-desktop">
            <div class="description-left-desktop">
                <img class="product-image" src="assets/rompopepejibayeplanta.png" alt="">
            </div>
            <div class="description-right-desktop">
                <p class="section-subtitle subtitle">Learn about the product</p>
                <hr class="hr-subtitulo">
                <h1 class="titles">Crema de Pejibaye</h1>
                <p class="section-text">Pejibaye cream is a sweet, creamy alcoholic beverage made from pejibaye, a traditional Costa Rican fruit that is very common in the Turrialba area. Its flavor is smooth, slightly sweet, and with a thick texture, making it an ideal choice as a digestif or a special drink for celebrations. It is a preparation that blends the traditional with the artisanal, highlighting the native flavors of the region.</p>
                <h1 class="titles">History</h1>
                <p class="section-text">Pejibaye cream is a sweet, creamy alcoholic drink from Costa Rica, made from pejibaye, a pre-Columbian staple fruit from Turrialba. It's a modern twist on tradition: smooth, slightly sweet, thick, and perfect as a digestif or for celebrations. Ancestral flavor, contemporary spirit.</p>
            </div>
        </div>
    </div>
}
